@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  position: relative;
  width: 375px;
  height: 6968px;
  top: -8px;
  left: -8px;
}

.navbar {
  position: absolute;
  padding-left: 40px;
  background: #3c3a39;
  width: 375px;
  height: 60px;
}

.mylogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 12px;
  position: absolute;
  top: calc(50% - 44px / 2);
  left: 12px;
  width: 101px;
  height: 44px;
}

.mylogo .mylogo-text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 90px;
  text-decoration: solid;
  height: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffff;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 28px;
  right: 24px;
  border-radius: 8px;
}

.toolbar:hover {
  background-color: #ff6b00;
}

.toolbar:active {
  background-color: #3c3a39;
}

.menubar1 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 70.83%;
  bottom: 29.17%;
  border: 2px solid #acb7c3;
}

.menubar2 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 50%;
  bottom: 50%;
  border: 2px solid #acb7c3;
}

.menubar3 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 29.17%;
  bottom: 70.83%;
  border: 2px solid #acb7c3;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 20px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 400px;
  top: 50px;
  background: #1c1a19;
  background-image: url(icons/backgroundimg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.primary-text h1 {
  width: 327px;
  height: 80px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.primary-text .secondary-text {
  width: 327px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 60px;
}

.primary-text p {
  width: 327px;
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: 3px;
}

.media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 20px;
  margin-left: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

li {
  list-style: none;
}

/*my.myprojects section*/
.myprojects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: minmax(150px, auto);
  padding: 120px 20px;
  position: inherit;
  width: 375px;
  height: auto;
  top: 600px;
  margin-left: 16px;
}

.project-title {
  width: 327px;
  height: 100px;
  left: 50px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  position: sticky;
  flex-grow: 0;
  order: 0;
  box-shadow: 0.01px 0.1rem #212121;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 8px;
  gap: 24px;
  width: 375px;
  height: 568px;
  flex: none;
  order: 0;
  top: 20px;
  margin-top: -60px;
  flex-grow: 0;
  background: url(img/project1.svg);
  background-repeat: no-repeat;
  background-position: top 5px left 5px;
  background-size: 300px 350px;
  background-attachment: local;
}

.project .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;
  gap: 12px;
  margin-top: 210px;
  width: 327px;
  height: 307px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description h2 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description1 h2 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description2 h2 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description3 h2 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description3 p {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description4 h2 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project .description h3 {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description4 p {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description p {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description1 p {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description2 p {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.project .description p {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -10px;
}

.project .skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: -80px;
}

.project .skills .css {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project .skills .html {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.project .skills .boot {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.project .skills .ruby {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.project .btn {
  display: block;
  align-items: center;
  padding: 12px;
  position: absolute;
  top: 540px;
  font-weight: 700;
  font-size: medium;
  width: 124px;
  height: 48px;
  flex: none;
  flex-grow: 0;
  text-decoration: none;
  background: #ff6b00;
  color: #fff;
  border: none;
}

.project1 {
  display: flex;
  position: absolute;
  width: 305px;
  height: 180px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(icons/projectsbackground.svg);
  top: 900px;
}

.description1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 248px;
  left: calc(50% - 327px / 2);
  bottom: 62px;
  top: 10px;
}

.description1 .skills1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: -10px;
}

.description1 .skills1 .html1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
}

.description1 .skills1 .boot1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 60px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #fff;
}

.description1 .skills1 .ruby1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff;
}

.project1 .btn1 {
  position: absolute;
  width: 345px;
  height: 40px;
  bottom: 1px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -20px;
  margin-right: 30px;
  padding-right: 10px;
}

.project2 {
  display: flex;
  position: absolute;
  width: 305px;
  height: 180px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(icons/projectsbackground.svg);
  top: 1400px;
}

.description2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 248px;
  left: calc(50% - 327px / 2);
  bottom: 62px;
  top: 10px;
}

.description2 .skills2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: -10px;
}

.description2 .skills2 .html2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
}

.description2 .skills2 .boot2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 60px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #fff;
}

.description2 .skills2 .ruby2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff;
}

.project2 .btn2 {
  position: absolute;
  width: 345px;
  height: 40px;
  bottom: 1px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -20px;
  margin-right: 30px;
  padding-right: 10px;
}

.project3 {
  display: flex;
  position: absolute;
  width: 305px;
  height: 180px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(icons/projectsbackground.svg);
  top: 1900px;
}

.description3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 248px;
  left: calc(50% - 327px / 2);
  bottom: 62px;
  top: 10px;
}

.description3 .skills3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: -10px;
}

.description3 .skills3 .html3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
}

.description3 .skills3 .boot3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 60px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #fff;
}

.description3 .skills3 .ruby3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff;
}

.project3 .btn3 {
  position: absolute;
  width: 345px;
  height: 40px;
  bottom: 1px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -20px;
  margin-right: 30px;
  padding-right: 10px;
}

.project4 {
  display: flex;
  position: absolute;
  width: 305px;
  height: 180px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(icons/projectsbackground.svg);
  top: 2400px;
}

.description4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  position: absolute;
  width: 300px;
  height: 248px;
  left: calc(50% - 327px / 2);
  bottom: 62px;
  top: 10px;
}

.description4 .skills4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: -10px;
}

.description4 .skills4 .html4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
}

.description4 .skills4 .boot4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
}

.description4 .skills4 .ruby4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff;
}

.project4 .btn4 {
  position: absolute;
  width: 345px;
  height: 40px;
  bottom: 1px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -20px;
  margin-right: 30px;
  padding-right: 10px;
}

/* Activate Work section buttons */
.btn:hover {
  color: #ff6b00;
  background-color: #fff;
}

.btn:active {
  color: #fff;
  background-color: #ff6b00;
}

.project1 .btn1:hover {
  color: #ff6b00;
  background-color: #fff;
}

.project1 .btn1:active {
  color: #fff;
  background-color: #ff6b00;
}

.project2 .btn2:hover {
  color: #ff6b00;
  background-color: #fff;
}

.project2 .btn2:active {
  color: #fff;
  background-color: #fff;
}

.project3 .btn3:hover {
  color: #ff6b00;
  background-color: #fff;
}

.project3 .btn3:active {
  color: #fff;
  background-color: #ff6b00;
}

.project4 .btn4:hover {
  color: #ff6b00;
  background-color: #fff;
}

.project4 .btn4:active {
  color: #fff;
  background-color: #ff6b00;
}

/* About section */
.myprojects .about {
  display: grid;
  position: absolute;
  width: 100%;
  height: 2200px;
  top: 2900px;
  background: #1c1a19 url(icons/abackground.svg);
  margin-left: -20px;
  background-repeat: no-repeat;
  background-position: top 440px right -80px;
  background-size: 280px 280px;
  background-attachment: local;
  box-shadow: 0.01px 0.1rem #ece9e9;
}

.about h2 {
  text-align: center;
  width: 327px;
  height: 79px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: inherit;
}

.about .intro {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -380px;
}

.about .mycv-btn {
  display: grid;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: none;
  margin-top: -600px;
}

.about .mytechs {
  display: grid;
  grid-template: auto;
  grid-area: auto;
  width: 300px;
  height: auto;
  order: 1;
  left: 10px;
  margin-bottom: 20px;
}

.mytechs .heading {
  display: grid;
  width: 240px;
  height: 50px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  justify-content: center;
  color: #fff;
  order: 0;
  flex-grow: 0;
  margin-left: 80px;
  margin-top: -540px;
  background: url(icons/1r.svg);
  background-repeat: no-repeat;
  background-position: left -2px center;
  background-size: 30px 30px;
  background-attachment: local;
}

.mytechs .heading1 {
  display: grid;
  width: 270px;
  height: 40px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  order: 1;
  flex-grow: 0;
  margin-left: 90px;
  background: url(icons/2r.svg);
  background-repeat: no-repeat;
  background-position: left -3px center;
  background-size: 25px 25px;
  background-attachment: local;
}

.mytechs ul li {
  width: 114px;
  height: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fcf8f6;
  left: 30px;
  list-style: none;
  margin: 12px auto;
}

.mytechs .heading2 {
  display: grid;
  width: 220px;
  height: 40px;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  justify-content: center;
  color: #fff;
  order: 2;
  flex-grow: 0;
  margin-left: 100px;
  background: url(icons/3r.svg);
  background-repeat: no-repeat;
  background-position: left -1px center;
  background-size: 30px 30px;
  background-attachment: local;
}

/* Activate About section button*/
.about .mycv-btn:hover {
  color: #ff6b00;
  background-color: #fff;
}

.about .mycv-btn:active {
  color: #fff;
  background-color: #ff6b00;
}
