@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  min-width: 375px;
}

/* header styles */

.navbar {
  background: #3c3a39;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 24px;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 152px 0 152px;
  }
}

.mylogo-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffff;
  text-decoration: none;
}

.navbar .toolbar {
  width: 16px;
  height: 16px;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .desktop-navbar .desktop-navbar-links {
    display: flex;
    align-items: center;
  }

  .toolbar {
    display: none;
  }
}

.desktop-navbar-links {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  gap: 10px;
}

.desktop-navbar .desktop-navbar-links {
  display: none;
}

.desktop-navbar-links a {
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding-right: 32px;
}

.desktop-navbar-links a:link {
  text-decoration: none;
}

.navbar .toolbar:hover {
  cursor: pointer;
}

.navbar .toolbar .bar {
  width: 100%;
  height: 2px;
  background-color: #acb7c3;
  margin-top: 5px;
}

.menubar1 {
  margin-top: 0;
}

/* Primary text section */

.primary-text {
  background-color: #1c1a19;
  padding: 120px 24px 130px;
  position: relative;
}

.primary-text .title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.primary-text .secondary-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff5e1;
  margin-top: 12px;
}

.primary-text-description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 22px;
}

.media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 20px;
  margin-left: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.media-icon {
  list-style-type: none;
}

.primary-text-bg-image {
  width: 230px;
  height: 276px;
  background-image: url(../icons/backgroundimg.svg);
  background-repeat: no-repeat;
  background-position: -11px 55%;
  background-size: 345px 350px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  .primary-text {
    padding: 0;
    display: flex;
    height: 798px;
    align-items: center;
    padding-left: 32px;
  }

  .text-container {
    flex: 5;
    order: 3;
  }

  .primary-text .title {
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 82px;
    color: #f55800;
  }

  .primary-text .secondary-text {
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .primary-text-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .primary-icons {
    flex-direction: column;
    width: 44px;
    height: 230px;
    order: 1;
    margin-right: 76px;
  }

  /* Animations */
  .media-icon:hover {
    -webkit-transform: translate(3em, 0);
    -moz-transform: translate(3em, 0);
    -o-transform: translate(3em, 0);
    -ms-transform: translate(3em, 0);
    transform: translate(3em, 0);
  }

  .primary-text-bg-image {
    position: static;
    flex-grow: 3;
    order: 3;
    background-image: url(../icons/Illustration-header.png);
    background-size: cover;
    height: 100%;
  }

  .primary-text-bg-image:hover {
    transform: scale(1.5);
  }

  .skills li:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .multi-post-btn:hover {
    background-color: #000e27;
    color: #dbd8d7;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .multi-post-image-cont img:hover {
    transform: scale(0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

/* My projects section  */

.my-projects {
  padding: 24px;
  color: #000e27;
}

.my-projects-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 110px;
  color: #1c1a19;
  font-family: 'Crete Round', serif;
  text-align: center;
  border-bottom: 1px solid #212121;
  margin-bottom: 80px;
}

.multi-post-image-cont {
  display: flex;
  justify-content: center;
}

.multi-post-image-cont img {
  width: 327px;
  height: 237px;
}

.multi-post-txt-btn h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  font-family: 'Crete Round', serif;
  margin-top: 24px;
}

.multi-post-txt-btn p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 12px;
}

.skills-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.css,
.html,
.boot,
.ruby {
  list-style-type: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
  padding: 10px;
  text-align: center;
}

.multi-post-btn {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  margin-bottom: 24px;
  background: #ff6b00;
  cursor: pointer;
  border: none;
  margin-top: 22px;
}

.my-projects-actual {
  color: #fff;
  padding-top: 84px;
  background-image: url(../icons/projectsbackground.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
}

.my-projects-actual h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 12px;
  margin-left: 16px;
}

.my-projects-actual p {
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
}

.my-projects-actual ul {
  display: grid;
  grid-template-columns: 1fr 1.7fr 1fr;
  gap: 12px;
  width: 72%;
  margin-top: 12px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .my-projects-actual ul {
    margin-bottom: 44px;
  }
}

.html1,
.boot1,
.ruby1 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  text-align: center;
}

.my-projects-actual-btn {
  width: 100%;
  display: inherit;
  margin-top: 22px;
}

.recent-break {
  display: none;
}

@media (min-width: 768px) {
  .my-projects-title {
    text-align: left;
    border-bottom: none;
    display: block;
    position: relative;
    line-height: 52px;
    margin-bottom: 0;
  }

  .recent-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recent-break {
    display: block;
    width: 66%;
    height: 1px;
  }

  .my-projects-multi-post {
    display: flex;
    height: 448px;
    gap: 24px;
    margin-bottom: 24px;
  }

  .multi-post-image-cont {
    flex: 4;
  }

  .multi-post-image-cont img {
    width: 100%;
    height: 100%;
  }

  .multi-post-txt-btn {
    flex: 2.62;
  }

  .multi-post-txt-btn h3 {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .my-projects {
    padding: 136px 141px;
  }
}

/* About section */
.about-me {
  background: black;
  margin-top: 132px;
  height: 2060px;
  margin-inline: -24px;
  padding-left: 24px;
}

.text-button-wrapper {
  padding: 120px 24px 0;
}

.about-me h2 {
  height: 79px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 24px;
  position: relative;
}

.my-cv-btn {
  margin-top: 24px;
  padding-inline: 24px;
}

.about-me-image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.actual-about-me-img {
  margin-top: -113px;
}

.about-me-seperator {
  top: calc(50% - 0px / 2 + 0.5px);
  border: 1px solid #fff;
  width: 90%;
  margin-left: 24px;
  margin-top: 22.69px;
}

.technologies-main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies-main-cont ul {
  text-align: center;
  color: #fff;
}

.my-stacks {
  margin-top: 136.73px;
}

.skill-list-heading {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 44px;
  color: #fff;
  position: relative;
}

.skill-list-heading::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  position: absolute;
}

.about-lang::before {
  left: -12px;
  top: 31%;
  transform: rotate(-45deg);
}

.about-frame::before {
  left: -40px;
  top: 33%;
}

.about-skills::before {
  top: 33%;
  left: 26px;
  border-radius: 50%;
}

.skill-list-heading ul {
  text-align: center;
}

.tech-li {
  list-style-type: none;
  margin-top: 22px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.skill-list {
  margin-bottom: 131.54px;
}

/* Contact form */
.contact-form-section p {
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding-inline: 24px;
  margin-top: 120px;
}

.contact-form {
  height: 400px;
  padding-inline: 24px;
}

.contact-li {
  padding: 10px;
}

.full-name {
  border: none;
  outline: none;
  border-bottom: thin solid #dbd8d7;
  padding: 24px;
  width: 100%;
}

.contact-form-section .message {
  background: #fbf8f7;
  height: 114px;
  width: 100%;
  border: none;
  outline: none;
  resize: vertical;
}

input[type='text']::placeholder {
  margin-left: 24px;
}

:root {
  --textareaHeight: 150px;
  --placeholderFontSize: 15px;
}

textarea {
  display: block;
  padding: 0 6px 6px 0;
  height: 114px;
  margin-bottom: 10px;
}

textarea,
textarea:placeholder-shown {
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.button {
  display: flex;
  justify-content: center;
  color: black;
  list-style-type: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 136px;
  border-top: 1px solid rgb(209, 205, 205);
}

.footer .media-icons {
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
  color: #505f79;
  list-style-type: none;
  margin-top: 25px;
}

.contact-form ul {
  margin-top: 73px;
}

.bottom-line-cont {
  display: flex;
  justify-content: center;
}

.bottom-line {
  margin-top: 17px;
  width: 35%;
  height: 5px;
  bottom: 12px;
  background: #0d151e;
  border-radius: 10px;
}

/* Contact form for desktop version */

@media (min-width: 768px) {
  .contact-form-section {
    display: flex;
  }

  .contact-form-text {
    flex: 0.47;
    text-align: left;
    margin-left: 135px;
  }

  .contact-form {
    flex: 1;
    margin-top: 29px;
    margin-bottom: 154px;
  }

  .full-name {
    padding-bottom: 10px;
  }

  .button {
    display: flex;
    justify-content: left;
    margin-top: -20px;
  }

  .bottom-line-cont {
    display: none;
  }
}

/* working on project section for grid  */
.new {
  display: none;
}

@media (min-width: 768px) {
  .all-actual-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 24px;
    grid-template-rows: 435px;
  }

  .myp-one {
    display: none;
  }

  .no-overlay {
    background-image: url(../icons/profesional-clear.png);
    background-position-y: -26%;
  }

  .myp-one-shown {
    margin-top: 85%;
  }

  .old {
    display: none;
  }

  .new {
    display: block;
  }

  .actual-two {
    background-image: url(../icons/data-dashboard.png);
  }

  .disappear {
    display: none;
  }

  p {
    font-size: 17px;
  }

  .adj-actual-h2 {
    margin-top: 54px;
  }

  .adj-actual-h3 {
    margin-top: 98px;
  }

  .actual-three {
    background-image: url(../icons/web-portfolio.png);
  }
}

.hide-small {
  display: none;
}

/* About me section media queries */
@media (min-width: 768px) {
  .about-me {
    margin-top: -70px;
    padding-left: 142px;
    height: 1328px;
  }

  .about-me-one {
    /* border: thin solid white; */
    display: flex;
    height: 566px;
    align-items: center;
  }

  .text-button-wrapper {
    flex: 3;
  }

  .about-me-image {
    /* border: thin solid darkcyan; */
    flex: 4;
  }

  .actual-about-me-img {
    margin-top: 0;
  }

  .about-me-seperator {
    margin-top: 0;
  }

  .my-stacks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .about-lang::before {
    left: 129px;
    top: 31%;
    transform: rotate(-45deg);
  }

  .skill-list-heading::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    position: absolute;
  }

  .skill-list-heading {
    margin-left: -118px;
  }

  .about-frame::before {
    left: 112px;
  }

  .about-skills::before {
    left: 220px;
  }

  .abt-ski {
    margin-left: -225px;
  }

  .tech-li {
    text-align: left;
  }

  .hide-small {
    display: block;
  }

  .hide-big {
    display: none;
  }
}

/* add animations to the header */

@keyframes lg-animation {
  0% {
    position: relative;
    left: -200px;
    @media (min-width: 768px) {
      left: -288px;
    }
  }

  100% {
    left: 0;
  }
}

.animate-logo {
  animation-name: lg-animation;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
  animation-delay: none;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
