@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  min-width: 375px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

/* header styles */

.navbar {
  background: #3c3a39;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 24px;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 152px 0 152px;
  }
}

.mylogo-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffff;
  text-decoration: none;
}

.navbar .toolbar {
  width: 16px;
  height: 16px;
}

.desktop-navbar-links.active {
  display: flex;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  flex-direction: column;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  text-align: left;
  height: 100vh;
  width: 100%;
  padding: 3.25rem 2.4rem 0 2.4rem;
  gap: 0.6rem;
  transition: 0.3s;
}

.nav-email {
  display: block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.desktop-navbar-links.active .nav-email {
  display: none;
}

.toolbar.active {
  z-index: 10;
}

.scroll-disable {
  overflow: hidden;
}

.actual-links:not(:last-of-type) {
  margin-right: 32px;
}

@media (max-width: 768px) {
  /* Turning the humburger menu to an X */
  .toolbar.active .bar:nth-child(2) {
    opacity: 0;
  }

  .toolbar.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .toolbar.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  /* Positioning the menu on humburger click */
  .desktop-navbar {
    position: relative;
  }

  .desktop-navbar-links {
    display: none;
    list-style: none;
  }

  .desktop-navbar-links .nav-links {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding-right: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

    /* display: flex; */
    align-items: center;
    color: #fff5e1;
  }

  .actual-links {
    padding: 1rem 0;
    border-bottom: 0.5px solid #6f6c6b;
  }
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .desktop-navbar .desktop-navbar-links {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .toolbar {
    display: none;
  }
}

@media (min-width: 768px) {
  .desktop-navbar .desktop-navbar-links {
    display: flex;
    align-items: center;
  }

  .nav-links {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
  }
}

.desktop-navbar-links a:link {
  text-decoration: none;
}

.navbar .toolbar:hover {
  cursor: pointer;
}

.navbar .toolbar .bar {
  width: 100%;
  height: 2px;
  background-color: #acb7c3;
  margin-top: 5px;
}

.menubar1 {
  margin-top: 0;
}

/* Primary text section */

.primary-text {
  background-color: #1c1a19;
  padding: 120px 24px 130px;
  position: relative;
}

.primary-text .title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.primary-text .secondary-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff5e1;
  margin-top: 12px;
}

.primary-text-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 22px;
}

.media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 20px;
  margin-left: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.media-icon {
  list-style-type: none;
}

.primary-text {
  width: 100%;
  background-image: url(../images/backgroundimg.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right -11rem bottom -4rem;
  background-size: 25rem 25rem;
  height: 100%;
}

@media (min-width: 768px) {
  .primary-text {
    display: flex;
    align-items: center;
    background-position: right -27rem top -4rem;
    background-size: 100% 100%;
    padding: 0 0 0 32px;
    height: 100%;
  }

  .primary-text .text-container {
    width: 48%;
    padding-left: 5rem;
  }

  .primary-text .title {
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 82px;
    color: #f55800;
  }

  .primary-text .secondary-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .primary-text-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .primary-icons {
    position: absolute;
    flex-direction: column;
    gap: 1.25rem;
    width: max-content;
    height: max-content;
    order: 1;
    margin-right: 76px;
  }

  /* Animations */
  .media-icon:hover {
    -webkit-transform: translate(3em, 0);
    -moz-transform: translate(3em, 0);
    -o-transform: translate(3em, 0);
    -ms-transform: translate(3em, 0);
    transform: translate(3em, 0);
  }

  .primary-text-bg-image {
    position: static;
    flex-grow: 3;
    order: 3;
    background-image: url(../images/Illustration-header.png);
    background-size: cover;
    height: 100%;
  }

  .skills li:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .multi-post-image-cont img:hover {
    transform: scale(0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

/* My projects section  */

.my-projects {
  padding: 24px;
  color: #000e27;
}

.my-projects-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 110px;
  color: #1c1a19;
  font-family: 'Crete Round', serif;
  text-align: center;
  border-bottom: 1px solid #212121;
  margin-bottom: 80px;
}

.multi-post-image-cont {
  display: flex;
  justify-content: center;
}

.multi-post-image-cont img {
  width: 327px;
  height: 237px;
}

.multi-post-txt-btn h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  font-family: 'Crete Round', serif;
  margin-top: 24px;
}

.multi-post-txt-btn p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 12px;
}

.skills-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.css,
.html,
.boot,
.ruby {
  list-style-type: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
  padding: 10px;
  text-align: center;
}

.multi-post-btn {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  margin-bottom: 24px;
  background: #ff6b00;
  cursor: pointer;
  border: none;
  margin-top: 22px;
}

.multi-post-btn:hover {
  background-color: #000e27;
  color: #dbd8d7;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.my-projects-actual {
  color: #fff;
  padding-top: 84px;
  background-image: url(../images/projectsbackground.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
}

.my-projects-actual h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 12px;
  margin-left: 16px;
}

.my-projects-actual p {
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
}

.my-projects-actual ul {
  display: grid;
  grid-template-columns: 1fr 1.7fr 1fr;
  gap: 12px;
  width: 72%;
  margin-top: 12px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .my-projects-actual ul {
    margin-bottom: 44px;
  }
}

.html1,
.boot1,
.ruby1 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  text-align: center;
}

.my-projects-actual-btn {
  width: 100%;
  display: inherit;
  margin-top: 22px;
}

.recent-break {
  display: none;
}

@media (min-width: 768px) {
  .my-projects-title {
    text-align: left;
    border-bottom: none;
    display: block;
    position: relative;
    line-height: 52px;
    margin-bottom: 0;
  }

  .recent-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recent-break {
    display: block;
    width: 66%;
    height: 1px;
  }

  .my-projects-multi-post {
    display: flex;
    height: 448px;
    gap: 24px;
    margin-bottom: 24px;
    margin-top: 50px;
  }

  .multi-post-image-cont {
    flex: 4;
  }

  .multi-post-image-cont img {
    width: 100%;
    height: 100%;
  }

  .multi-post-txt-btn {
    flex: 2.62;
  }

  .multi-post-txt-btn h3 {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .my-projects {
    padding: 136px 141px;
  }
}

/* About section */
.about-me {
  background: black;
  background-image: url('./../images/abackground.svg');
  background-repeat: no-repeat;
  background-position: top 27% right;
  padding: 16px 24px 16px 24px;
}

.text-button-wrapper {
  padding: 120px 24px 0 24px;
}

.about-me h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 24px;
  position: relative;
}

.my-cv-btn {
  margin-top: 24px;
  padding-inline: 24px;
}

.my-cv-btn:hover {
  border: thin solid;
}

.about-me-image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.actual-about-me-img {
  margin-top: -113px;
}

.about-me-seperator {
  margin-top: 15rem;
  border: 1px solid #fff;
 }

.technologies-main-cont {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.technologies-main-cont ul {
  text-align: center;
  color: #fff;
}

.my-stacks {
  margin-top: 136.73px;
}

.skill-list-heading {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 44px;
  color: #fff;
  position: relative;
}

.skill-list-heading::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  position: absolute;
}

.about-lang::before {
  left: -12px;
  top: 31%;
  transform: rotate(-45deg);
}

.about-frame::before {
  left: -40px;
  top: 33%;
}

.about-skills::before {
  top: 33%;
  left: 26px;
  border-radius: 50%;
}

.skill-list-heading ul {
  text-align: center;
}

.tech-li {
  list-style-type: none;
  margin-top: 22px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.skill-list {
  margin-bottom: 131.54px;
}

/* Contact form */
.contact-form-section p {
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding-inline: 24px;
  margin-top: 120px;
}

.contact-form {
  height: 400px;
  padding-inline: 24px;
}

.contact-li {
  padding: 10px;
}

.full-name {
  border: none;
  outline: none;
  border-bottom: thin solid #dbd8d7;
  padding: 24px;
  width: 100%;
}

.contact-form-section .message {
  background: #fbf8f7;
  height: 114px;
  width: 100%;
  border: none;
  outline: none;
  resize: vertical;
}

input[type='text']::placeholder {
  margin-left: 24px;
}

:root {
  --textareaHeight: 150px;
  --placeholderFontSize: 15px;
}

textarea {
  display: block;
  padding: 0 6px 6px 0;
  height: 114px;
  margin-bottom: 10px;
}

textarea,
textarea:placeholder-shown {
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.button {
  display: flex;
  justify-content: center;
  color: black;
  list-style-type: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 136px;
  border-top: 1px solid rgb(209, 205, 205);
}

.footer .media-icons {
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
  color: #505f79;
  list-style-type: none;
  margin-top: 25px;
}

.contact-form ul {
  margin-top: 73px;
}

.bottom-line-cont {
  display: flex;
  justify-content: center;
}

.bottom-line {
  margin-top: 17px;
  width: 35%;
  height: 5px;
  bottom: 12px;
  background: #0d151e;
  border-radius: 10px;
}


.modal-container {

}

/* Contact form for desktop version */

@media (min-width: 768px) {
  .contact-form-section {
    display: flex;
  }

  .contact-form-text {
    flex: 0.47;
    text-align: left;
    margin-left: 135px;
  }

  .contact-form {
    flex: 1;
    margin-top: 29px;
    margin-bottom: 154px;
  }

  .full-name {
    padding-bottom: 10px;
  }

  .button {
    display: flex;
    justify-content: left;
    margin-top: -20px;
  }

  .bottom-line-cont {
    display: none;
  }
}

/* working on project section for grid  */
.new {
  display: none;
}

@media (min-width: 768px) {
  .all-actual-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 24px;
    grid-template-rows: 435px;
  }

  .myp-one {
    display: none;
  }

  .all-actual-projects .my-projects-actual:first-of-type {
    background-image: url(../images/profesional-clear.png);
    background-position-y: -26%;
  }

  .myp-one-shown {
    margin-top: 85%;
  }

  .old {
    display: none;
  }

  .new {
    display: block;
  }

  .actual-two {
    background-image: url(../images/data-dashboard.png);
  }

  .disappear {
    display: none;
  }

  p {
    font-size: 17px;
  }

  .adj-actual-h2 {
    margin-top: 54px;
  }

  .adj-actual-h3 {
    margin-top: 98px;
  }

  .actual-three {
    background-image: url(../images/web-portfolio.png);
  }
}

.hide-small {
  display: none;
}

/* About me section media queries */
@media (min-width: 768px) {
  .about-me {
    background-image: url('./../images/Frame.png');
    background-repeat: no-repeat;
    background-position: top 5% right;
  }

  .about-me-seperator {
    width: 85%;
    margin: auto;
    margin-top: 5rem;
    border: 1px solid #fff;
   }
  

  .about-me-one {
    display: flex;
    padding-bottom: rem;
    align-items: center;
    padding-left: 142px;

  }

  .text-button-wrapper {
    width: 48%;
  }

  .about-me-image {
    /* border: thin solid darkcyan; */
    flex: 4;
  }

  .actual-about-me-img {
    margin-top: 0;
  }

  .my-stacks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .about-lang::before {
    left: 129px;
    top: 31%;
    transform: rotate(-45deg);
  }

  .skill-list-heading::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    position: absolute;
  }

  .skill-list-heading {
    margin-left: -118px;
  }

  .about-frame::before {
    left: 112px;
  }

  .about-skills::before {
    left: 220px;
  }

  .abt-ski {
    margin-left: -225px;
  }

  .tech-li {
    text-align: left;
  }

  .hide-small {
    display: block;
  }

  .hide-big {
    display: none;
  }
}

/* add animations to the header */

@keyframes lg-animation {
  0% {
    position: relative;
    left: -200px;

    @media (min-width: 768px) {
      left: -288px;
    }
  }

  100% {
    left: 0;
  }
}

.animate-logo {
  animation-name: lg-animation;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-delay: none;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Styles for the Modal popUp */

/* Mobile version */
@media (max-width: 768px) {
  .modal-container {
    width: 90%;
    max-width: max-content;
    height: 85%;
    max-height: max-content;
    overflow: auto;
    background: #fff;
  }

  /* .modal-container.active (

  ) */

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #172b4d;
    width: 311px;
    height: 82px;
  }

  .modal-header h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-left: -20px;
  }

  .modal-header .cross-btn {
    width: 13px;
    height: 13px;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    z-index: 5;
  }

  .modal-overlay.active {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-skills-list {
    display: flex;
    margin-top: 25px;
    margin-bottom: -110px;
  }

  .modal-skills {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .modal-skills a {
    list-style: none;
    text-decoration: none;
    width: 66px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3c3a39;
  }

  .techOne {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    width: 109px;
    height: 36px;
    border: 1px solid #979493;
  }

  .htmll {
    width: 55px;
    height: 36px;
  }

  .bootstrap {
    width: 90px;
    height: 36px;
  }

  .rails {
    width: 115px;
    height: 36px;
  }

  .rails a {
    width: 85px;
    height: 16px;
  }

  .modal-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-image img {
    width: 100%;
    height: 500px;
    padding-right: 0;
  }

  .modal-description {
    margin-top: -110px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    height: 220px;
    gap: 24;
  }

  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }

  .modal-buttons .modal-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    left: 0;
    top: 4px;
    padding: 12px;
    gap: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 5px;
    width: 170px;
  }

  .mb-1 {
    width: 160px;
    height: 50px;
  }

  .mb-2 {
    width: 100%;
    height: 50px;
  }
}

/* Desktop version */
@media (min-width: 768px) {
  .modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    z-index: 5;
  }

  .modal-container {
    width: 90%;
    max-width: max-content;
    height: 85%;
    max-height: max-content;
    overflow: hidden;
    margin: auto;
    background-color: white;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header h1 {
    color: #000e27;
  }

  .project-contents {
    display: flex;
  }

  .modal-skills {
    display: flex;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 40px;
  }

  .techOne {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    width: 109px;
    height: 36px;
    border: 1px solid #979493;
  }

  .modal-skills .techOne a {
    list-style: none;
    text-decoration: none;
    color: #3c3a39;
  }

  /* .modal-image img {
    width: 100%;
    height: 500px;
    padding-right: 0px;
  } */

  .modal-description {
    color: black;
  }

  .modal-buttons {
    display: flex;
    gap: 5px;
  }
}
